.colour-picker-container {
  position: fixed;
  top: 100px;
  left: 16px;
  z-index: 1000;
}

.colour-picker-button {
  width: 32px;
  height: 32px;

  padding: 0;

  border: 2px solid white;
  border-radius: 50%;

  cursor: pointer;

  transition: transform 0.2s ease, background-color 0.4s ease;
}

.colour-picker-button:hover {
  transform: scale(1.05);
}