.header {
  height: 72px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(37, 37, 37);
  background-color: rgb(20, 20, 20);
  z-index: 100;
}