.about-section {
  width: 100%;

  scroll-margin-top: 100px;
}

.about-container {
  display: grid;
  grid-template-rows: auto;

  margin-top: 124px;

  justify-content: center;

  width: 100%;
}

.about-title {
  font-family: Raleway;
  color: gray;
  font-size: 26px;
  font-weight: bold;

  text-align: center;

  max-width: 500px;

  margin: 0;

  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

.about-text{
  margin: 0;
  margin-bottom: 48px;

  font-family: Raleway;
  font-size: 36px;
  font-weight: bolder;
  color: white;
  text-align: center;
  max-width: 500px;

  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

.about-text.is-loading, .about-title.is-loading {
  animation: slideUp 1s ease-out forwards;
}

.about-text.is-hidden, .about-title.is-hidden {
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .about-text, .about-title {
    max-width: 320px;
  }
}

@media (min-width: 1280px) {
  .about-text, .about-title {
    max-width: 720px;
  }
}

.test {
  margin: 0;

  font-family: Raleway;
  font-size: 56px;
  color: white;
}